
     <div class="redacteur col-xs-12">
            <h4>Liste des créneaux</h4>
         <div class="row redacteur_item">
             <div class="col-xs-2">
                 <p>Nom</p>
             </div>
             <div class="col-xs-3">
                 <p>Description</p>
             </div>
             <div class="col-xs-2">
                 <p>Durée (secondes)</p>
             </div>
             <div class="col-xs-2">
                 <p>Jour</p>
             </div>
             <div class="col-xs-2">
                 <p>Heures</p>
             </div>
             <div class="col-xs-1">
                 <p>Editer</p>
             </div>
         </div>
         {% for entity in entities %}



                <!-- Boucle à répéter pour afficher la liste de tous les rédacteurs de la semaine -->
                <div class="row redacteur_item">
                    <div class="col-xs-2">
                        <p>{{ entity.crNom }}</p>
                    </div>
                    <div class="col-xs-3">
                        <p>{{ entity.crDesc }}</p>
                    </div>
                    <div class="col-xs-2">
                        <p>{{ entity.crDuree }}</p>
                    </div>
                    <div class="col-xs-2">
                        <p>{{ entity.crJour }}</p>
                    </div>
                    <div class="col-xs-2">
                        <p>{% if entity.crHeure %}{{ entity.crHeure|date('H:i:s') }}{% endif %}</p> <!-- Période durant laquelle le rédacteur a été désigné -->
                    </div>
                    <div class="col-xs-1">
                        <a href="{{ path('creneau_edit', { 'id': entity.id }) }}">Modifier</a>
                    </div>
                </div>
                <!-- Fin de la boucle -->
            {% endfor %}
        </div>


