<div class="video_item_container col-xs-12 col-sm-6 col-md-3">
    <a href="{{ path('mmi_create_video') }}"> <!-- Indiquer le chemin vers le formulaire d'ajout d'une nouvelle vidéo -->
        <div class="video_item_plus_container">
            <div class="video_item_plus text-center">
                <i class="fa fa-plus fa-5x"></i>
            </div>
        </div>
    </a>
</div>
{% for videos in video %}
    <div class="flip-container">
        <div class="video_item_container flipper col-xs-12 col-sm-6 col-md-3">
            {% if videos.type == "youtube" %}
                <div class="video_item_img front" style="background: url('http://img.youtube.com/vi/{{ videos.vidId }}/mqdefault.jpg') center center no-repeat; background-size: cover;"></div> <!-- Indiquer le chemin vers l'image de la vidéo dans background: url('') -->
            {% elseif videos.type == "dailymotion" %}
                <div class="video_item_img front" style="background: url('http://www.dailymotion.com/thumbnail/video/{{ videos.vidId }}') center center no-repeat; background-size: cover;"></div> <!-- Indiquer le chemin vers l'image de la vidéo dans background: url('') -->
            {% elseif videos.type == "vimeo" %}
                <div class="video_item_img front" style="background: url('{{ asset('bundles/mmiback/images/vimeo.jpg') }}') center center no-repeat; background-size: cover;"></div> <!-- Indiquer le chemin vers l'image de la vidéo dans background: url('') -->
            {% else %}
                <div class="video_item_img front" style="background: url('{{ asset('bundles/mmiback/img/play.png') }}') center center no-repeat; background-size: cover;"></div> <!-- Indiquer le chemin vers l'image de la vidéo dans background: url('') -->
            {% endif %}
            <div class="video_item_img back">
                <p class="text-center">{{ videos.vidTitre }}</p>
                <hr>
                <div class="video_item_settings text-center">
                    <a href="{{ path('mmi_modif_video', { 'id': videos.id }) }}"><i class="fa fa-gears fa-3x text-center"></i></a>
                    <a href="#"><i class="fa fa-times fa-3x text-center"></i></a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endfor %}
<!-- Fin de la boucle -->
